/*-----HEADER SOCIAL ICONS-----*/
header {
    position: relative;

    ul.social {
        position: absolute;
        bottom: .5rem;
        right: $gutter;
    }

    ul.social li {
        width: auto;
    }
} // end header

/*  ------------- MAIN -------------  */
main {

    /*.purple{color:purple;}*/
    
    
} // end main


